<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4 sm:px-6">
    <div class="bg-white p-4 sm:p-6 md:p-8 w-full max-w-md text-xs sm:text-sm">
        <h2 class="text-4xl font-serif font-bold text-center mb-8"><span class="text-indigo-600">People</span><span class="text-pink-500">Lens</span></h2>

        <!-- Alerta de error -->
        <div *ngIf="errorMessage" class="mb-4 bg-red-100 text-red-700 px-4 py-3 font-semibold border border-red-300 text-sm">
        {{ errorMessage }}
        </div>

        <!-- Alerta de éxito -->
        <div *ngIf="successMessage" class="mb-4 bg-green-100 text-green-700 px-4 py-3 font-semibold border border-green-300 text-sm">
        {{ successMessage }}
        </div>

        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="space-y-4 font-bold">
            <div>
                <label class="block text-gray-700 mb-1">Nombre</label>
                <input
                    type="text"
                    name="name"
                    [(ngModel)]="formData.name"
                    required
                    #name="ngModel"
                    [ngClass]="{
            'border-red-500': name.invalid && registerForm.submitted,
            'border-gray-300': !(name.invalid && registerForm.submitted)
          }"
                    placeholder="Escribe tu nombre completo"
                    class="w-full px-4 py-2 border focus:outline-none focus:ring-2 focus:ring-indigo-400 placeholder-gray-400 placeholder-opacity-60"
                />
            </div>

            <div>
                <label class="block text-gray-700 mb-1">Email</label>
                <input
                    type="email"
                    name="email"
                    [(ngModel)]="formData.email"
                    required
                    #email="ngModel"
                    [ngClass]="{
            'border-red-500': email.invalid && registerForm.submitted,
            'border-gray-300': !(email.invalid && registerForm.submitted)
          }"
                    placeholder="ejemplo@correo.com"
                    class="w-full px-4 py-2 border focus:outline-none focus:ring-2 focus:ring-indigo-400 placeholder-gray-400 placeholder-opacity-60"
                />
            </div>

            <div>
                <label class="block text-gray-700 mb-1">Contraseña</label>
                <div class="relative">
                    <input
                        [type]="showPassword ? 'text' : 'password'"
                        name="password"
                        [(ngModel)]="formData.password"
                        required
                        #password="ngModel"
                        [ngClass]="{
              'border-red-500': password.invalid && registerForm.submitted,
              'border-gray-300': !(password.invalid && registerForm.submitted)
            }"
                        placeholder="Crea una contraseña segura"
                        class="w-full px-4 py-2 pr-10 border focus:outline-none focus:ring-2 focus:ring-indigo-400 placeholder-gray-400 placeholder-opacity-60"
                    />
                    <button type="button" (click)="togglePasswordVisibility()" class="absolute right-2 top-2.5 text-gray-500 hover:text-gray-700">
                        <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                        </svg>
                        <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.477 0-8.268-2.943-9.542-7a9.973 9.973 0 012.148-3.362M6.28 6.28a9.966 9.966 0 015.72-1.28c4.478 0 8.268 2.943 9.542 7a9.97 9.97 0 01-4.44 5.818M6.28 6.28L3 3m3.28 3.28L21 21"
                            />
                        </svg>
                    </button>
                </div>
            </div>

            <button type="submit" class="cursor-pointer w-full bg-indigo-600 hover:bg-indigo-700 text-white py-2 font-bold transition duration-300">
                Registrarse
            </button>
            <div class="mt-4 text-center">
                <span class="text-gray-600 mr-2">¿Ya tienes una cuenta?</span>
                <a [routerLink]="['/login']" class="cursor-pointer text-indigo-600 underline font-semibold hover:text-indigo-800">
                    Inicia sesión
                </a>
            </div>

        </form>
    </div>
</div>
