<div class="flex h-screen">
    <!-- Sidebar con ancho fijo -->
    <div class="w-[255px]">
        <app-sidebar></app-sidebar>
    </div>

    <!-- Contenedor principal -->
    <div class="flex flex-col bg-gray-100" style="width: calc(100vw - 255px);">
        <!-- Header -->
        <div class="w-full">
            <app-header></app-header>
        </div>

        <!-- Contenido -->
        <div class="flex-1 overflow-auto p-10">
            <!-- Card -->
            <!-- Botón para agregar nuevo -->
            <div class="mb-4 flex justify-end">
            <button
                class=" cursor-pointer bg-green-500 hover:bg-green-600 text-white text-sm font-semibold px-4 py-2 rounded"
                [routerLink]="['/create-persons']">
                + Crear Empleado
            </button>
            </div>

            <div class="bg-white shadow-md overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-white">
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Acciones</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase cursor-pointer" (click)="sortBy('firstName')">
                                Nombre {{ sortField === 'firstName' ? (sortDirection === 'asc' ? '↑' : '↓') : '' }}
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase cursor-pointer" (click)="sortBy('email')">
                                Email {{ sortField === 'email' ? (sortDirection === 'asc' ? '↑' : '↓') : '' }}
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase cursor-pointer" (click)="sortBy('position')">
                                Puesto {{ sortField === 'position' ? (sortDirection === 'asc' ? '↑' : '↓') : '' }}
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase cursor-pointer" (click)="sortBy('department')">
                                Departamento {{ sortField === 'department' ? (sortDirection === 'asc' ? '↑' : '↓') : '' }}
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase cursor-pointer" (click)="sortBy('hireDate')">
                                Ingreso {{ sortField === 'hireDate' ? (sortDirection === 'asc' ? '↑' : '↓') : '' }}
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase cursor-pointer" (click)="sortBy('salary')">
                                Salario {{ sortField === 'salary' ? (sortDirection === 'asc' ? '↑' : '↓') : '' }}
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr *ngFor="let person of persons">
                            <td class="px-6 py-4 whitespace-nowrap space-x-2">
                                <button
                                    class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white text-sm font-semibold px-4 py-2 rounded"
                                    (click)="editPerson(person._id)">
                                    Editar
                                </button>

                                <button class="cursor-pointer bg-red-500 hover:bg-red-600 text-white text-sm font-semibold px-4 py-2 rounded" (click)="deletePerson(person._id)">
                                    Eliminar
                                </button>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ person.firstName }} {{ person.lastName }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ person.email }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ person.position }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ person.department }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ person.hireDate | date: 'yyyy-MM-dd' }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">${{ person.salary}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
